$(document).ready(function(){
  // Carga de modal 'modal_form.html.erb' para selección de galería en colección de galerías
  $("#gallery_modal").html("<%= j render(partial: 'modal_form') %>");
  $('.image-picker').imagepicker();
  $('#gallery_modal').modal('show');
  // Inicializa librería Image Picker y muestra las galerías en modal de Noticias (formulario)
  $("select.image-picker").imagepicker({
    hide_select: true,
    show_label: true,
    selected: function (option) {
      var value = this.val();
      $('#selection_galleries').click(function () {
        if (this.id == 'selection_galleries') {
          if (value >= 1) {
            $("#gallery_image, #gallery_image_nil").text("Galería seleccionada: " + option.option[0].text);
            var image_src = option.option[0].dataset.imgSrc;
            $("#gallery_preview").attr("src", image_src);
          }
          $('#gallery_modal').modal('toggle');
          $('#gallery_id').val(value);
          $('#gallery_modal').modal('hide');
        }
      });
    }
  });
  $('#attachments_ids').change(function(){
    if ($(this).val()) {
      $('input:submit').attr('disabled',false);
    }
  });
  // Realiza búsqueda de galerías en el modal de Noticias (formulario)
  $("#btn_search" ).click(function() {
    var query = $('#search_galleries').val();
    $.ajax({
      type: "GET",
      url: "/admin/searchgall",
      data: {
        search: query
      },
      success: function (result) {
        var imgpicker = $(".image-picker");
        imgpicker.html('');
        $(result['data']).each(function() {
          imgpicker.append($("<option>").attr('value',this.val).attr('data-img-label', this.name).attr('data-img-src', this['data-img-src']));
          imgpicker.append(`<p>${this.name}</p>`)
        });
        imgpicker.data('picker').destroy();
        imgpicker.imagepicker();
        $("select.image-picker").imagepicker({
          hide_select: true,
          show_label: true,
          selected: function(option) {
            var value = this.val();
            $("#selection_galleries").click(function() {
              if (this.id == 'selection_galleries') {
                if (value >= 1) {
                  $("#gallery_image, #gallery_image_nil").text("Galería seleccionada: " + option.option[0].dataset.imgLabel);
                  var image_src = option.option[0].dataset.imgSrc;
                  $("#gallery_preview").attr("src", image_src);
                }
                $('#gallery_modal').modal('toggle');
                $('#gallery_id').val(value);
                $('#gallery_modal').modal('hide');
              }
            })
          }
        });
      }
    })
  });
});