<div class="nested-fields row">
  <div class="col-md-5">
    <%= f.input :title%>
  </div>
  <div class="col-md-5">
    <%= f.input :placeholder%>
  </div>
  <div class="col-md-2 text-center">
    <span class=""><%= link_to_remove_association '<i class="fas fa-times text-center" style="font-size: 25px; margin-top: 20px;"></i>'.html_safe, f %></span>
  </div>
</div>