<section class="section">
  <h1 class="section-header">Editar encuesta</h1>
  <%= simple_form_for @survey, as: 'survey', url: {action: :update}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>
