<div class="input-group date" id="published_at" data-target-input="nearest">
  <% if @post.try(:published_at).present? %>
    <%= f.text_field :published_at, class: 'form-control datetimepicker-input', value: @post.try(:published_at).strftime("%d-%m-%Y %H:%M"), 'data-target' => '#published_at', class:'post_published_at'%>
  <% else %>
    <%= f.text_field :published_at, class: 'form-control datetimepicker-input', 'data-target' => '#published_at', placeholder: "Fecha de publicación", label: false, class:'post_published_at' %>
  <% end %>
  <div class="input-group-append" data-target="#published_at" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
  </div>
</div>