<div id="post_input_gallery" class="card text-md-center pt-1 col-md-12 col-sm-12" >
  <div class="form-group">
    <div class="col-md-12 col-sm-12">
      <h5 class="card-title">Galería</h5>
      <div class="card-body">
        <% selected_value = @post.gallery.present? ? @post.gallery.id : nil %>
        <%= f.label :gallery, "Galería", class: 'form-control-label string required' %><br>
        <%= select_tag :gallery_id, options_for_select(Media::Gallery.all.map { |gal| [gal.name, gal.id] }.sort, selected_value), include_blank: true, multiple: false %><br/>
        <%= link_to 'Editar Galería', edit_admin_gallery_path(@post.gallery.id) if @post.gallery.present? %>
      </div>
    </div>
  </div>
</div>