<section class="section">
  <h1 class="section-header">Nueva</h1>
  <%= simple_form_for @attachment, as: 'attachment', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>
