<% if @benefit_group != "Sin Beneficios" %>
  <div class="card">
    <div class="card-header">
      <%= @benefit_group.code %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @benefit_group.name %></h5>
      <p class="card-text"><%= @benefit_group.description %></p>
    </div>
  </div>
<% else %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @benefit_group %></h5>
    </div>
  </div>
  <% end %>