<section class="section">
  <h1 class="section-header">Crear Grupo Beneficiario</h1>
  <%= simple_form_for @benefit_group, as: 'benefit_group', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>
