<div class="col-md-12"> 
  <div class="col-md-3">
    <%= search_field_tag :query, nil , placeholder: "Buscar por fechas", style: 'width:200px' %>
  </div>
  <div class="col-md-3">
    <%= search_field_tag :query, nil , placeholder: "Buscar por fechas", style: 'width:200px' %>      </div>
  </div>
  <div class="col-md-3"> 
    <%= button_tag "Buscar", class: "button tiny" %>
  </div>
</div>
