<p>Hola,</p>
<p>Tu solicitud de rendición de gastos n° <%= @request.id %> que indica: </p>
<p><%= @request.description %></p>
<p>por un monto de: <%= @request.divisa_id %> <%= @request.total %></p>
<p>ha sido aprobada por tu supervisor. Su rendición está siendo atendida.</p>
<p>Muchas gracias.</p>