<p>Hola,</p>
<p>Tu Rendición de gastos n° <%= @request.id %> por un monto de <%= @request.divisa_id %> <%= @request.total %> que indica: </p>
<p><%= @request.description %></p>
<p>ha sido rechazada por tu supervisor.</p>
<p>Muchas gracias.</p>





