
<p>Se ha ingresado una nueva solicitud en relaci칩n al caso "#<%= @ticket.id %> - <%= @ticket.category.name %>" que indica:</p>
<p>
  <%= @ticket.description %>
</p>
</p>
  Para atender este caso ingresa a <a href="https://adminhc.redexa.cl/admin" target="_blank">https://adminhc.redexa.cl/admin</a> 
  opci칩n "Centro de Ayuda", y luego "Tickets" d칩nde podr치s ingresar una respuesta si corresponde.
</p>
