
<p>Se ha ingresado una nueva solicitud en relación al caso "#<%= @ticket.id %> - <%= @subcategory.name %>"</p>
<% if @subcategory.category.name == 'Rendición de Gastos' %>
  <p>supervisor: <%= @boss_name  %></p>
<% end %>
<p>Que indica lo siguiente:</p>
<p>
  <%= @ticket.description %>
</p>
</p>
  Para atender este caso ingresa a <a href="https://adminhc.redexa.cl/admin" target="_blank">https://adminhc.redexa.cl/admin</a> 
  opción "Centro de Ayuda", y luego "Tickets".
</p>
