
<p>Se ha ingresado una nueva solicitud en relación al caso "#<%= @ticket.id %> - <%= @ticket.subcategory.name %>" que indica:</p>
<p>
  <%= @message %>
</p>
</p>
  Para atender este caso ingresa a <a href="https://adminhc.redexa.cl/admin" target="_blank">https://adminhc.redexa.cl/admin</a> 
  opción "Centro de Ayuda", y luego "Tickets"
</p>
