<p>Tu Rendicion de gastos con numero "#<%= @request.id %>" por un monto de <%= @request.divisa_id %> <%= @request.total %>" que indica:</p>
<p>
 <%= @request.description %>
</p>
<p>ha sido Rechazada</p>