<p>En relación a tu solicitud "#<%= @ticket.id %> - <%= @ticket.subcategory.name %>" te envían el siguiente mensaje</p>
<p>
  <%= @message %>
</p>
</p>
  Para responder ingresa a <a href="https://compassgroup-training.exa.cl/" target="_blank">https://compassgroup-training.exa.cl/</a> 
  opción "Requerimientos", y luego "Ver mis casos" dónde podrás ingresar una respuesta si corresponde.
</p>