
<p>Se ha ingresado una nueva Rendici贸n de gastos #<%= @request.id %> - por un monto de: <%= @request.total %></p>
<p>supervisor: <%= @boss_name  %></p>
<p>Que indica lo siguiente:</p>
<p>
  <%= @request.description %>
</p>
</p>
  Para atender este caso ingresa a <a href="https://adminhc.redexa.cl/admin" target="_blank">https://adminhc.redexa.cl/admin</a> 
  opci贸n "Rendici贸n de gastos", y luego "Rendici贸n de gastos".
</p>
