<p>Hola Supervisor,</p>
<p>Se ha ingresado una nueva solicitud de Rendición de gastos de <%= @user %>
 Por favor ingresa al siguiente <a href="<%=@link_index%>">link</a> para aprobarla/rechazarla</p>
 <p>Muchas gracias.</p>
