<p>Hola Supervisor,</p>
<p>Te recordamos que tienes una rendición de gastos pendiente de aprobación del usuario <%= @user %>
 Por favor ingresa al siguiente <a href="<%=@link_index%>">link</a> para aprobarla/rechazarla</p>
 <p>Muchas gracias.</p>
