<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Tu aviso clasificado ha sido rechazado. <a href="https://miintranet.exaconsultores.cl">Link a la intranet</a>.!</h3>
  </body>
</html>