<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Has respondido la encuesta <%= @survey %> satisfactoriamente.</h3>
  </body>
</html>