<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Tu aviso clasificado ha sido publicado con éxito. Ya lo puedes visualizar en la intranet Mi Security <a href="https://misecurity.elmejorlugarparatrabajar.cl">Link a la intranet</a>.!</h3>
  </body>
</html>