<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Has creado un aviso de nacimiento. Está en proceso de aprobación por parte del administrador</h3>
  </body>
</html>