<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @name %>, Tu aviso ha sido publicado. Para visualizarlo haz click <%= link_to "aquí", "https://misecurity.elmejorlugarparatrabajar.cl/#/avisos-clasificados/#{@product_id}"%>.</h3>
  </body>
</html>