<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Tienes una encuesta asignada para responder. Para visualizarlo haz click <%= link_to "aquí", "https://misecurity.elmejorlugarparatrabajar.cl/#/encuestas/#{@survey_id}"%>.</h3></h3>
  </body>
</html>