<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Tu foto de perfil ha sido aprobada y se encuentra actualizada en la intranet.</h3>
  </body>
</html>
