<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      La foto enviada no cumple con los requisitos establecidos. Por favor envíanos una nueva foto.  
      Recuerda que los requisitos son:  
      ·         Foto tipo carnet a color tomada de frente y con el fondo blanco.
      ·         Imagen de buena calidad
      ·         Foto tomada en un periodo no superior a 6 meses
      ·         Expresión de cara neutral y con los ojos abiertos
      ·         Foto con vestimenta de trabajo
      ·         No utilizar sombreros, pañuelos, lentes oscuros, audífonos u otros accesorios.
      ·         Resolución de 250 x 250 px
      ·         Peso de archivo no superior a 200 Kb
      En caso de dudas, escríbenos a intranet@security.cl indicando en el asunto -Cambio de foto de perfil -”.  </p>
  </body>
</html>
