<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Tu aviso recién creado está en proceso de aprobación.</h3>
  </body>
</html>