<section class="section">
  <h1 class="section-header">Editar: <%= @message.title %></h1>
  <%= simple_form_for @message, as: 'message', url: {action: :update}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>

<!-- Modal -->
<div class="modal" id="loading_message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-success" style="border: 1px solid black;">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag("loading.gif", height: "50px") %>
        </div>
        <h5 class="modal-title text-center text-white mt-3" id="exampleModalLabel">
          Guardando, espere un momento... 
        </h5>
      </div>
    </div>
  </div>
</div>

<script>
  $('#edit_message').submit(function(){
    $('#loading_message').show();
  });

  function validateImage() {
    const imageFile = document.getElementById('message_image');

    if (imageFile) {
      let imageType = imageFile.files[0].type; 
      if (imageType === "image/jpeg" || imageType == "image/png" ) {
        imageFile.value;
      } else {
        alert("Archivo no válido. El archivo debe ser de tipo imagen (JPEG o PNG)");
        imageFile.value = "";
      }
    }
  }
</script>