<section class="section">
  <h1 class="section-header">Crear Mensaje</h1>
  <%= simple_form_for @message, as: 'message', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>

<!-- Modal -->
<div class="modal" id="loading_message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-success" style="border: 1px solid black;">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag("loading.gif", height: "50px") %>
        </div>
        <h5 class="modal-title text-center text-white mt-3" id="exampleModalLabel">
          Guardando, espere un momento... 
        </h5>
      </div>
    </div>
  </div>
</div>

<script>
  $('#new_message').submit(function(){
    $('#loading_message').show();
  });
</script>