<%= f.error_notification message: f.object.errors[:file].to_sentence %>
<div class="form-group row">
  <div class="col-7">
    <div class="col-12">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
  </div>
  <div class="col-7">
    <div class="col-12">
      <%= f.file_field :file, required: true %>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
