<%= f.error_notification %>
  <div class="form-group row">
    <div class="col-6">
      <%= f.input :name %>
    </div>
  </div>
<%= f.submit 'Crear tipo de Taxonomía', :class => 'btn btn-primary' %>
