// Place all the styles related to the Admin::Attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-media video {
  width: 800px;
}

img {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 90%;
  max-height: 250px;
  margin-bottom: 2rem;
  margin: 10px;
}
