// Place all the styles related to the Admin::Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pill-tabs{
  padding: 0px 5px 0px 5px;
}

.clicked_img {
  background: darkgrey;
  border-radius: 20px;
  padding: 0px 5px 0px 5px;
}
.hidden {
  display: none;
}
