// Place all the styles related to the Frontend::Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  color: #39065A;
}

.position_input{
  margin-top: -55px;
  z-index: 1000;
  margin-left: 80px;
}
