// Place all the styles related to the Admin::Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.survey-form-actions {
  margin-bottom: 50px;
  height: 40px;
}

.default_place {
  padding-top: 30px !important;
}

.question_fields {
  display: contents !important;
}

.remove-option {
  font-size: 20px;
  margin-top: 15px;
  color: #ccc;
}

.remove-option:hover {
  color: #dc3545;
}

.option-circle {
  font-size: 15px;
  margin-top: 17px;
  margin-right: -20px;
}

input.form-control.option-input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #ccc;
  border-radius: 0;
  padding: 10px 5px 0 !important;
}
input.form-control.option-input:focus {
  border-color: #000;
}
