<section class="section">
  <h1 class="section-header"><%= "Editar" %>: <%= "Ticket ##{@ticket.id}" %></h1>
  <%= simple_form_for @ticket, as: 'ticket', url: {action: :update}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>