<section class="section">
  <h1 class="section-header"><%= "Nueva Solicitud" %></h1>
  <%= simple_form_for @ticket, as: 'ticket', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>