<section class="section">
  <h1 class="section-header">Crear Beneficio</h1>
  <%= simple_form_for @benefit, as: 'benefit', url: {action: :create}, :html => { :class => "form" } do |f| %>
      <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>
