$('#question_subcategory_id').empty();
$('#question_subcategory_id').append( $('<option>Selecciona una subcategoría</option>'));
$("#question_subcategory_id").prop("disabled", false);
<% @subcategories.each do |subcat| %>
  $('#question_subcategory_id').append($('<option value="<%= subcat.id %>"><%= subcat.name %></option>'));
<% end %>