<section class="section">
  <h1 class="section-header"><%= "Editar" %>: <%= @question.name %></h1>
  <%= simple_form_for @question, as: 'question', url: {action: :update}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>

<script>
  $("#question_subcategory_id").prop("disabled", false);
</script>