/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require select2-bootstrap
 *= require simple_calendar
 *= require owl.carousel
 *= require owl.theme
 *= require jquery.minicolors

 */
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";
@import "vendors";
@import "tempusdominus-bootstrap-4.css";
@import "admin/users";
@import "admin/posts";
@import "admin/galleries";
@import "admin/attachments";
@import "admin/terms";
@import "admin/search.scss";
@import "admin/birthdays.scss";
@import "admin/births.scss";
@import "admin/menus";
@import "admin/survey";

.content_security {
  max-width: 770px;
  margin: auto;
}

.bottom_nav {
  padding-top: 30px;
  padding-bottom: 50px;
}

.block2 {
  background: #7d7d7d;
  height: 60px;
  color: white;
}

.block_structure {
  background: lightgrey;
  height: 150px;
  border: 1px solid white;
}

.border-right {
  border-right: 1px solid white;
}

.padding_10 {
  padding: 10px;
}

.block3_birthday {
  background: #4f8b35;
  color: white;
}

.nav-header {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  background: white;
  font-size: 12px;
  color: grey;
}

.footer {
  height: 50px;
  background-color: #434343;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  color: white;
  padding: 15px;
}

.footer_image {
  width: 100px;
  height: 25px;
}

.search {
  border: 2px solid lightgreen;
  border-radius: 20px;
}

.font_bottom_nav {
  color: grey;
  font-weight: 700;
}

.scrollDiv {
  height: 300px;
  overflow-y: scroll;
}

.scrollDivPost {
  height: 200px;
  overflow-y: scroll;
}

.scrollDivPostImage {
  height: 450px;
  overflow-y: scroll;
}

.label-custom {
  font-weight: 500;
  color: #868e96;
  font-family: "Montserrat";
  font-size: 11px;
  letter-spacing: 0.5px;
}

.menu-dropdown {
  margin-left: 12px !important;
}

#ben_img {
  padding-top: 12px;
  margin-bottom: -10px;
}

.image_attach {
  border: 1px solid black;
  margin: 0px 10px 10px 0px;
}

#image_preview {
  width: 150px;
}

#link_attachment {
  margin-left: 80px;
}

span b {
  float: right;
}
