// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-1{
    left: 0;
    right: 0 ;
    position: relative;
    z-index: 0;
    background-color: #007bff;
}
.btn-size{
    width: 100px;
}