<div class="nested-fields col-md-12 pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-11">
          <h4>Subcategoría</h4>
          <%= f.input :name, label: false, input_html: { class: "col-md-7", style: "border: 1px solid gray;" } %>
        </div>
        <div class="col-md-1" style="font-size: 25px;">
          <%= link_to_remove_association '<i class="fas fa-times float-right"></i>'.html_safe, f %>
        </div>
      </div>
    </div>
  </div>
  <div style="border-bottom: 2px dotted lightgrey; padding-bottom: 20px;">
  </div>
</div>
