<p>Hola <%= @resource.name %>!</p>
<p>Se ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó esto, ignore este correo electrónico.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</p>
