<section class="section">
  <h1 class="section-header">Editar usuario <%= @user.email %></h1>
  <%= simple_form_for @user, as: 'user', url: {action: :update}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</div>
