<section class="section">
  <h1 class="section-header">Registrarse</h1>
  <%= simple_form_for @user, as: 'user', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>