<li>
  <a href="<%= admin_benefits_path %>"><i class="far fa-handshake"></i>Beneficios</a>
</li>
<li>
  <a href="<%= admin_benefit_groups_path %>"><i class="fas fa-people-carry"></i>Grupos Beneficiarios</a>
</li>
<li>
  <a href="<%= admin_benefit_types_path %>"><i class="fas fa-cogs"></i>Categorías</a>
</li>