<li class="nav-item dropdown <%= dropdown_active?(['benefit']) %>">
  <a class="nav-link has-dropdown" data-toggle="dropdown">
    <i class="far fa-handshake"></i> <span>Beneficios</span>
  </a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Lista de Beneficios", admin_benefits_path %></li>
    <li><%= nav_link "Lista grupos beneficiarios", admin_benefit_groups_path %></li>
    <li><%= nav_link "Lista categorías", admin_benefit_types_path %></li>
  </ul>
</li>