<li class="nav-item dropdown <%= dropdown_active?(['links', 'sections']) %>">
  <a class="nav-link has-dropdown" data-turbolinks="false"><i class="fas fa-home"></i> <span>Edición Home</span></a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Links", admin_links_path %></li>
    <li><%= nav_link "Secciones", admin_sections_path %></li>
  </ul>
</li>