<li class="nav-item dropdown <%= dropdown_active?(['menus']) %>">
  <a class="nav-link has-dropdown" data-toggle="dropdown">
    <i class="fab fa-trello"></i> <span>Menús</span>
  </a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Lista de menús", admin_menus_path %></li>
    <li><%= nav_link "Nuevo menú", new_admin_menu_path %></li>
  </ul>
</li>