<li class="nav-item dropdown <%= dropdown_active?(['users']) %>">
  <a class="nav-link has-dropdown" data-turbolinks="false"><i class="fas fa-users"></i> <span>Usuarios</span></a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Lista de usuarios", admin_users_path %></li>
  </ul>
</li>