<section class="section">
  <h1 class="section-header">Crear Menú</h1>
  <%= simple_form_for @menu, as: 'menu', url: {action: :create}, :html => { :class => "form" } do |f| %>
    <%= render :partial => 'form', locals: {f: f} %>
  <% end %>
</section>