<html> 
  <head> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("http://localhost:3000/api_client/menu"); 

    });
    </script> 
  </head> 

  <body> 
     <div id="includedContent"></div>
  </body> 
</html>