<html> 
  <head> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script> 
      $(function(){
        $("#includedContent").load("http://localhost:3000/admin/menus/html"); 
      });
    </script> 
    <style>
      iframe{  
        width: 100%;
        height: 454px;
      }
    </style>
  </head> 

  <body> 
     <iframe src="http://localhost:3000/admin/menus/html" frameborder="0" allowtransparency="no"></iframe>
     <div style="margin-top: -300px;">
     <h2>Hola Samuel </h2>
     <p>Lorem ipsum dolor amet authentic blue bottle pop-up, butcher intelligentsia yr lomo bitters celiac sartorial vape mumblecore. Listicle hot chicken celiac, quinoa deep v VHS farm-to-table literally coloring book tote bag put a bird on it cred drinking vinegar. Sriracha yr fam gochujang cray retro succulents echo park microdosing. Disrupt pickled hot chicken edison bulb copper mug XOXO tbh sriracha vice glossier meditation selfies cold-pressed. Cold-pressed +1 readymade kombucha aesthetic pork belly 8-bit mustache banjo distillery woke. Paleo poutine organic, selvage food truck kitsch vexillologist green juice. Cornhole mustache artisan tumeric freegan, meggings blog banh mi.

Biodiesel microdosing blue bottle, cray adaptogen vexillologist williamsburg readymade coloring book woke cred affogato kinfolk mustache. Marfa swag mixtape VHS street art bitters iceland cray. Succulents echo park ennui, beard thundercats shabby chic pitchfork VHS neutra everyday carry hot chicken cray. Church-key seitan meh gentrify banh mi blog mlkshk cornhole mumblecore occupy craft beer austin. Vape hexagon fixie post-ironic jianbing kinfolk artisan mixtape knausgaard tattooed normcore bicycle rights.

Tilde letterpress succulents actually tumblr. Church-key post-ironic fingerstache air plant deep v cornhole thundercats meditation hell of lomo. Brooklyn pickled meggings cray live-edge. Aesthetic cray waistcoat semiotics kogi. Succulents truffaut brunch taxidermy chillwave +1 subway tile heirloom jean shorts ennui.

Affogato gluten-free ennui meh. Venmo gastropub portland actually readymade, tote bag affogato pitchfork flannel vice intelligentsia tacos pinterest wayfarers. Salvia beard air plant lyft kitsch. PBR&B pork belly mumblecore literally mixtape.

Knausgaard chartreuse air plant dreamcatcher hammock meh. Neutra portland +1 irony kinfolk bushwick taiyaki dreamcatcher street art. Fingerstache organic poutine schlitz cloud bread crucifix distillery mixtape live-edge. Cloud bread 8-bit tumeric snackwave drinking vinegar, meditation trust fund truffaut cold-pressed letterpress af salvia. Copper mug listicle shabby chic, cliche pickled pour-over semiotics pok pok echo park squid tbh migas disrupt twee.

Oh. You need a little dummy text for your mockup? How quaint.

I bet you’re still using Bootstrap too…</p>
</div>
  </body> 
</html>